@charset "UTF-8";
/*! crowdCuratio | GPL v3 License | see LICENSE */
/* CSS Document */
.accent{
	 background-color: #EDBA0E;
}

*{

  font-family:Inter;
	margin:0;
	padding:0;
}

a:link,
a:visited{
	color: rgba(163,163,163,0.84);
	text-decoration: none;
}
a:hover{
	color: rgba(91,91,91,0.90);
}

/*audio test*/

.playButton[paused] {
  color: orange !important;
}

.playButton{
	color: orange !important;
}

.playButton[paused] {
  background-image: url(chrome://global/skin/media/play-fill.svg);
  color: orange !important;
}


audio{
	width: 100%;
}

video{
	width:100%;
}

@font-face {
    font-family: Inter;
    src: url("../fonts/Inter/Inter-VariableFont_slnt,wght.ttf")}

.top-container {

  height: 1em;
}

/* Header */
#spracheicon{
	color: white;
	font-size: 0.4em;
}
#hinweis {
  width: 38%;
  box-sizing: border-box;
  border-radius: 0px 0px 0px 14px;
  background-color: rgba(0,0,0,0.7);
  float: right;
  height: 1.5em;
}
#hinweistext {
  color: white;
  padding-left: 4.3em;
  padding-top: 0.5em;
  font-family: Inter,semibold;
  font-size: 0.6em;

}
.headerleiste {
	height: 80px;
	margin-bottom: 0.7em;
	z-index: 80;
}
#logo2 {
  width: 7em;
  height: auto;
  margin-left: 14em;
  margin-top: -1em;
}
.logo {
  position: absolute;
  width: 50px;
  height: auto;
  display: block;
  margin-top: 6px;
}



#untertitel {
  margin-left: 80px;
  top: 10px;
  position: relative;
  color: white;
  font-family: Inter,semibold;
  font-size: clamp(10px,15px,50px);
}

#titel {
  margin-left: 80px;
  top: 8px;
  position: relative;
  color: white;
  font-family: Inter,bold;
  font-size: clamp(10px,25px,40px);
  font-weight: bold;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-inner{
	width: clamp(400px, calc( 100% - 25px),960px);
	margin-left: auto;
	margin-right: auto;
}

.top-inner{
	margin-right: 135px;
}


.sprache {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  font-family: Inter,bold;
  float: right;
  margin-top: -1em;
	background: none;
}

.activesprache, .sprache:hover {
  background-color: white;
  color: black;
  border-radius: 8px;
}

.activesprache {
  text-decoration: none;
  color: black;
}
/*Einleitungsberich*/

.ankerleiste{
	background-color: white;
	width: 100%;
	margin-top: -0.5em;
}


.ankerpunkte {
	color: #6F6F6F;
text-decoration: none;
	z-index: 999;
margin-top: 18px;
width: clamp(400px, calc( 100% - 250px),960px);
margin-left: auto;
margin-right: auto;
	padding-top: 10px;
padding-bottom: 10px;

}

.anker{
  display: inline-block;
  font-size: 1.1em;
  font-family: Inter;
  color: rgba(141,141,141,1.00);
  text-decoration: none;
  padding-right: 10px;
  word-break: keep-all;
 font-weight: 500;
}
.anker:link,
.anker:visited{
	color: rgba(49,49,49,0.89);
	text-decoration: none;
}
.anker:hover{
	color: rgba(0,0,0,1.00);
}

.active {
  text-decoration: none;
  color: #EDBA0E;
}

.sticky + .einleitung {
	margin-top: 6em;
}

/*container */




.einleitung .zweispaltig p{
  margin: 2em 0 1em;
}


.container{
width: clamp(400px, calc( 100% - 250px),960px);
  margin-left: auto;
  margin-right: auto;
}


.hintergrundgrau{
	background-color: rgba(152, 140, 140, 0.55);
	padding-top: 2em;
padding-bottom: 2em;
}

.hintergrundweiss{
	padding-top: .5em;
	padding-bottom: .5em;
}


.zweispaltig {
  columns: 2 5em;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  color: #454545;
  text-align: left;
  /*margin-bottom: 3em;*/
 font-size: clamp(0.95rem, calc( 3px + 0.025vw ), 2.163rem);
	margin: .5em 0 1em;
}
.zweispaltig p{
margin: 0em 0 0 0;
}
.einspaltig h2{
	margin: 3em 0 .8em;
}
.einspaltig p{
margin: .3em 0 .6em 0;
}

.subtitle{
	/*font-weight: 600;
	font-size: 1.1rem;*/
}
h1, h2, h3, h4, h5, h6 {
  	font-weight: 600;
	font-size: 1.2rem;
	color: rgba(34,34,34,0.65);
}


.caption {
	position: absolute;
	background: rgba(45,45,45,0.65);
	display: block;
	bottom: 0;
	right: 0;
	left: 0;
	padding: .7em 1em 1.5em;
	color: rgba(255,255,255,0.85);
	max-width: 810px;
}


h4 {
  color: #EDBA0D;
 font-size: clamp(1.338rem, calc( 4px + 2.025vw ), 2.163rem);
  font-family: Inter,bold;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
  width: clamp(200px, calc( 100% - 250px),960px);
  margin-left: auto;
  margin-right: auto;

}

.plus {
  font-size: clamp(0.8rem, calc( 3px + 1.025vw ), 2.163rem);
  color: #333232;
  width:  clamp(344px, calc( 99% - 200px),1015px);
  margin-left: auto;
  margin-right: auto;
margin-top: -3.4em;
	 position: relative;
  padding-left: 1em;
	height: 2em;

}

.plus::before {
  content: '▼';
  display: block;
  position: absolute;
  transition: transform .1s ease;
  transform: rotate(-0deg);
  left: 0;
  line-height: 2.3em;
  color: rgba(0,0,0,0.50);
	cursor: pointer;
	transition:.4s all;
}
.plus:hover::before {
  color: rgba(0,0,0,1);
}


.rotate.plus::before {
  transform: rotate(-90deg);
}
.titelpfeil{
  margin-left: -1em;
  position: absolute;
  color: #988C8C;
	font-family: Inter,bold;
}
.bereich-grau {
  font-size: 1.5em;
  color: white;
  padding-bottom: 1em;
	 font-family: Inter,bold;
}

.bereich-weiss{
	font-size: 1.5em;
  color: #EDBA0D;
  padding-bottom: 1em;
	 font-family: Inter,bold;
}




.dropdown{
	display: none;
}

.dropdown.show{
	display: block;
}

/*Bildergalerie */


.slick-slide{
	float: none !important;
}

.slick-slide img {
	display: block;
max-width: 100%;
max-height: 600px;
object-fit: contain;
margin-left: auto;
margin-right: auto;
}


.slick-list{
	background-color: #2D2D2D;
}

.slick-dots{
	bottom: 5px !important;
}
.slick-dots li.slick-active button::before {
  color: orange !important;
  opacity: 0.75;
	font-size:10px !important;
}

.slick-dots li button{
	font-size:10px !important;
}

.slick-dots li button::before{
	font-size: 10px !important;
	opacity: 0.55 !important;
}


.bildunterschrift{
	color: #454545;
	font-family: Inter;
text-align: left;
font-size: clamp(0.8rem, calc( 3px + 0.025vw ), 2.163rem);
	padding-bottom: 15px;
}

.inhaltbildergalerie{
	   display: inline-block !important;
    height: 100% !important;
    vertical-align: middle !important;
}
.slick-slide:not(.slick-current){visibility: hidden}

/*footer*/
footer {
  background-color: rgba(21,28,31,0.68);
  height: 220px;
  margin-top: 3em;
}
#Logofooter {
  width: 10em;
  height: auto;
  border-bottom-color: white;
  border-bottom-width: 0.5px;
  border-bottom-style: solid;
  margin-top: 1em;
  padding-bottom: 1em;
  padding-right: 6em;
}
#footeradresse {
  color: white;
  font-family: Inter;
  margin-bottom: 0.5em;
  font-size: 0.8em;
  margin-top: 2em;
}

#emailadressefooter {
  text-decoration: none;
  list-style: none;
  color: #88B6C7;
  font-family: Inter;
  margin-bottom: 0.5em;
  font-size: 0.8em;
}
.verlinkung {
	text-decoration: none;
	color:#88B6C7;
}
.footerverlinkung {
  display: inline;
  border-right-color: white;
  border-right-width: 1px;
  border-right-style: solid;
  font-size: 0.8em;
  text-decoration: none;
	font-family: Inter;
	color:#88B6C7;

}


.footerinner{
	width: clamp(200px, calc( 100% - 100px),960px);
	margin-left:auto;
	margin-right:auto;
}

#sprachebtn {
  display: block;
  margin-right: 0em;
  background-color: #EDBA0D;
  padding: 10px;
  margin-left: -3.45em;
  z-index: 1;

padding-right: 1em;
}
  #burgerbutton {
    display: none;
  }

@media (max-width: 900px) {
	.zweispaltig{
		columns: 1 100vw;
	}

	.top-container{
		display:none;
	}
	#burgermenu{
  float: right;
  font-size: 5em;
  color: white;
  margin-top: -0.75em;
 margin-right: 0.5em;
		height: 0em;
}

	#sprachebtn{
		display:none;
	}

#burgerbutton {
	 color: #000;
  font-size: 4rem;
 margin: 0rem -2rem 0 0;
  float: right;
  position: relative;
  padding: 0 2rem;
	display: block;
}
}

@media (max-width: 570px){
#burgerbutton {
  color: #000;
  font-size: 4rem;
  margin: 0.5rem -2rem 0 0;
  float: right;
  position: relative;
  padding: 0 2rem;
  display: block;
}
	.sprache {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-family: Inter,bold;
  float: right;
  margin-top: -1em;
  background: none;
}
}


@media (max-width: 525px){


	.header-inner{
		width: 100%;
	}


	#untertitel{
		display:none;
	}
	.ankerpunkte{
		margin-top: 36px;
	}

	#titel{
		top: 22px;
		width: 70%;
	}


	.einleitung {
  margin-top: 5em;
}

	.container{
		width: 90%;
	}

	.ankerpunkte{
		width: 90%;
	}

	h4{
		width: 75%;
	}

	.plus{
		width: 90%;
	}

	.slick-slide img{
		max-height: 300px;
	}

	#burgerbutton {
  color: #000;
  font-size: 4rem;
  margin: 1rem -2rem 0 0;
  float: right;
  position: relative;
  padding: 0 2rem;
  display: block;
}
	.sprache {
  border: none;
  outline: none;
  padding: 13px 14px;
  cursor: pointer;
  font-size: 14px;
  color: white;
  font-family: Inter,bold;
  float: right;
  margin-top: 0em;
  background: none;
}
}





@media (max-width: 390px){




	#titel{
		margin-left: 60px;
top: 22px;
		font-size: 22px;
		width: 80%;
	}


	.einleitung {
  margin-top: 4em;
}

	.ankerpunkte{
		margin-top: 38px;
	}

	.header-inner{
		width: 90%;
	}
	#burgerbutton {
  color: #000;
  font-size: 4rem;
  margin: 1.5rem -2.5rem 0 0;
  float: right;
  position: relative;
  padding: 0 2rem;
  display: block;
}
    .remove-color{
        background-color: white !important;
    }
}

#section0 .container #text.zweispaltig{
	margin-bottom: -2.0em;
}

.footer-background{
    position: fixed;
    bottom: 0;
    left: 0;
    right:0;
    margin: 0;
    background-color: rgba(89,89,89,0.90);
    color: white;
}

.footer-background a:hover,
.footer-background a:active,
.footer-background a:focus{
    color: rgba(198,183,183,0.80);
}
