/*! crowdCuratio | GPL v3 License | see LICENSE */
.menu .accordion-heading {
    position: relative;
}

.menu .accordion-heading .edit {
    position: absolute;
    top: 8px;
    right: 30px;
}

.menu .area {
    border-left: 4px solid #f38787;
}

.menu .equipamento {
    border-left: 4px solid #65c465;
}

.menu .ponto {
    border-left: 4px solid #98b3fa;
}

.menu .collapse.in {
    overflow: visible;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload {
    width: 100%;
}

/* Set droplist names - -item is the currently selected font, -label is the font's appearance in the droplist*/
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before {
    content: 'Default';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='times-new-roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='times-new-roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='arial']::before {
    content: 'Arial';
    font-family: 'Arial';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='sans-Serif']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='sans-Serif']::before {
    content: 'Sans Serif';
    font-family: 'Sans Serif';
}

/****************************************************
Set the font-family content used for the HTML content.
*****************************************************/
.ql-font-arial {
    font-family: 'Arial';
}

.ql-font-times-new-roman {
    font-family: 'Times New Roman';
}

.ql-font-sans-Serif {
    font-family: 'Sans Serif';
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #92b0b3;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input {
    background-color: #f1f1f1;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

#sortable1, #sortable2 {
    list-style-type: none;
    margin: 0; padding: 0;
    float: left; margin-right: 10px;
}
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; width: 120px;
}
.sortable1.list, .sortable1.lis {
    clear:both;
}
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}
.rotate.down {
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}
.text-scrollbar{
    position: relative;
    height: 200px;
    overflow: auto;
}

.editable-wrap {
    display: block; !important;
}

.editable-controls input {
    width: 100%; !important;
}

.color-element{
    background-color: #EDBA0D;
}
.footer-background{
    background-color: #656565;
    color: white;
}
